@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 30rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.tittle {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label,
input,
select {
    display: block;
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    height: 36px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Adiciona regras de estilo para o botão de voltar */
.voltar {
    margin-top: 2.5rem;
    margin-left: 12rem;
    border: none;
    border-radius: 1rem;
    background-color: #6c757d;
    display: inline-block;
}

/* Estilo para o link dentro do botão de voltar */
.voltar a {
    text-decoration: none;
    font-size: 14px;
    padding: 1rem;
    height: 2.5rem;
    width: 25%;
    color: #fff;
}

/* Estilo para o link quando hover */
.voltar a:hover {
    background-color: #555;
}
